.popper {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: white;
    background: black;
    border-radius: 0.25em;
    visibility: hidden;
    z-index: 10000;
}